* {
    margin: 0;
    font-family: 'Hiragino Kaku Gothic ProN';
}

a {
    text-decoration: none;
}

body {
    box-sizing: border-box;
}


    header {
        background-color: white;
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        height: 94px;
        box-shadow: 0 1px 8px rgba(0,0,0,2);
    }
    
    .header-list {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .header-contents {
        display: flex;
        align-items: center;
    }
    
    .header-list img {
        display: block;
        width: 55px;
        height: 55px;
    }
    
    .header-nav ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-weight: bold;
    }
    
    .header-nav li {
        text-align: center;
        margin-right: 45px;
    }

    .header-nav a {
        color: black;
    }
    
    .header-ttl {
        font-size: 24px;
        font-weight: bold;
        margin-left: 16px;
    }
    
    .contact-btn {
        width: 155px;
        height: 37px;
        background: linear-gradient(to right,#FA41CC,#6020B0);
        display: block;
        text-align: center;
        border-radius: 10px;
        line-height: 37px;
        box-shadow: 0 3px 6px rgba(0,0,0,16);
    }
    
    .header-btn {
        color: white;
    }
    
    .header-nav li:hover {
        opacity: 0.4;
        transition: 0.4s;
    }
    
    .contact-btn:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
    
    .contact-btn:active {
        transform: translate(0, 2px);
        transition: 0.1s;
    }
    
    .header-nav li:active {
        transform: translate(0, 1px);
        transition: 0.05s;
    }
    
    .main {
        background-image: url(pngフォルダ/circle.svg);
        width: 100%;
        z-index: 1000;
        background-position: top -80px right -80px;
        background-size: auto;
        background-repeat: no-repeat;
    
        &-list {
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;    
            padding: 100px 20px;
        }
    
        &-copy {
            text-align: left;
            h2 {
                font-size: 32px;
                line-height: 1.8;
                margin-top: 80px;
                margin-bottom: 40px;
                font-weight: bold;
            }
            p {
                font-size: 16px;
                line-height: 1.8;
                margin-bottom: 40px;
                font-weight: bold;
            }
        }
    
        &-image {
            position: absolute;
            z-index: 2000;
            right: 15%;
            top: 20%;
        }
    }
    
    
    .feature {
        &-ttl {
            margin-top: 40px;
            font-size: 32px;
            margin-bottom: 40px;
            font-weight: bold;
            text-align: center;
            span {
                display: block;
                text-align: center;
                font-size: 16px;
                color: #3BA6C9;
            }
        }
    
        &-inner {
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }
    
        &-heading {
            margin-bottom: 64px;
            text-align: center;
            font-size: 28px;
            font-weight: bold;
        }
    
        &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 93px;
            h3 {
                font-weight: bold;
                font-size: 24px;
                line-height: 1.8;
                margin-bottom: 54px;
            }
            p {
                line-height: 1.8;
                font-weight: bold;
            }
        }
    }

    .feature-box-pc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 93px;
        h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 1.8;
            margin-bottom: 54px;
        }
        p {
            line-height: 1.8;
            font-weight: bold;
        }
    }

    .feature-box-sp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 93px;
        h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 1.8;
            margin-bottom: 54px;
        }
        p {
            line-height: 1.8;
            font-weight: bold;
        }
    }

    .boxsp {
        display: none;
    }

    .feature-text {
        padding-left: 80px;
    }

    .feature-text-pc {
        padding-right: 80px;
    }
    
    
    .price {
        background-color: #EEFBFB;
        padding: 64px 20px 128px;
    
        &-inner {
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
        }
    
        &-ttl {
            margin-top: 40px;
            font-size: 32px;
            margin-bottom: 40px;
            font-weight: bold;
            text-align: center;
            span {
                display: block;
                margin-top: 20px;
                font-size: 16px;
                color: #3BA6C9;
            }
        }
    
        .table-pc {
            width: 100%;
            box-shadow: 0 1px 8px rgba(0,0,0,2);
            background-color: #fff;
            border-collapse: collapse;
            th {
                width: 30%;
                padding: 30px;
                min-width: 300px;
                border: 1px solid #f0eded;
            }
            td {
                width: 70%;
                padding: 30px;
                border: 1px solid #f0eded;
                text-align: left;
                font-weight: bold;
            }
        }
    }

    .price-sp {
        background-color: #EEFBFB;
        padding: 64px 20px 128px;
    
        &-inner {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    
        &-ttl {
            margin-top: 40px;
            font-size: 32px;
            margin-bottom: 40px;
            font-weight: bold;
            text-align: center;
            span {
                display: block;
                margin-top: 20px;
                font-size: 16px;
                color: #3BA6C9;
            }
        }
    
        .table-sp {
            width: 100%;
            box-shadow: 0 1px 8px rgba(0,0,0,2);
            background-color: #fff;
            border-collapse: collapse;
            text-align: center;
            th {
                text-align: center;
                display: block;
                padding: 30px;
                border: 1px solid #f0eded;
            }
            td {
                background-color: whitesmoke;
                display: block;
                padding: 30px;
                border: 1px solid #f0eded;
                text-align: center;
                font-weight: bold;
            }
        }
    }

    .price-spd {
        display: none;
    }
    
    .ac {
        padding: 40px 20px;
        text-align: center;
    
        &-ttl {
            margin-top: 40px;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
            span {
                font-size: 16px;
                display: block;
                margin-top: 20px;
                color: #3BA6C9;
            }
        }
    
        &-inner {
            max-width: 1024px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
        }
    }
    
    #ac-menu {
        dt {
            line-height: 1.8;
            border: 1px solid #E5E5E5;
            cursor: pointer;
            font-size: 14px;
            height: auto;
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding-bottom: 15px;
            padding-top: 15px;
        }
        dd {
            background-color: #f2f2f2;
            line-height: 1.8;
            text-align: center;
            border: 1px solid #E5E5E5;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    }
    
    .dd1 {
        height: auto;
        align-items: center;
    }
    
    .dd2 {
        height: auto;
    }
    
    .dd3 {
        height: auto;
    }

    .blog {
        padding: 40px 20px;
        background-color: #EEFBFB;
        
        &-ttl {
            margin-top: 40px;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
            span {
                margin-top: 18px;
                display: block;
                color: #3BA6C9;
                font-size: 16px;
            }
        }
    
        &-inner {
            display: flex;
            justify-content: space-around;
        }
    
        &-box {
            background-color: #FFFFFF;
            box-shadow: 0 1px 8px rgba(0,0,0,2);
            position: relative;
            border-radius: 8px;
            margin-bottom: 40px;
            width: 28%;
            img {
                border-radius: 8px 8px 0 0;
                width: 100%;
                
            }
        }

        &-text {
            width: 100%;
        }
    }
    
    .explanation {
        font-weight: bold;
        font-size: 18px;
        padding-top: 20px;
        opacity: 0.8;
        padding-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .date {
        font-size: 16px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 15px 10px 10px;
        padding-top: 20p;
        padding-bottom: 10px;
    }
    
    .swiper-ttl {
        margin: 40px 0;
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        span {
            color: #3BA6C9;
            font-size: 16px;
            margin-top: 20px;
            display: block;
        }
    }
    
    .swiper-container {
        margin-bottom: 60px;
        padding: 40px 0;
    }
    
    .swiper-wrapper {
        width: 100%;
        height: auto;
    }
    
    .swiper-slide {
        border-radius: 8px;
        border: solid 1px rgba(0,0,0,.125);
        img {
            width: 100%;
        }
    }
    
    
    .swiperexplanation {
        font-weight: bold;
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 20px;
        margin-bottom: 24px;
    
    }
    
    .swiperexplanation2 {
        font-weight: bold;
        font-size: 16px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 24px;
    }
    
    .contact {
        background: linear-gradient(to right, #05A5FA, #20e7f5 50%, #67FFD6);
        padding: 40px 20px;
    
        &-ttl {
            margin-top: 40px;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 40px;
            color: white;
            span {
                color: white;
                font-size: 16px;
                display: block;
                margin-top: 20px;
            }
        }
    
        &-p {
            color: white;
            text-align: center;
            margin-bottom: 44px;
            line-height: 1.8;
        }
    
        &-inner {
            max-width: 1024px;
            margin: 0 auto;
            background-color: white;
            padding-bottom: 50px;
            padding-top: 20px;
        }

        &-container {
            max-width: 783px;
            margin: 0 auto;
        }

        &-form {
            p {
                font-size: 16px;
                font-weight: bold;
                padding-top: 25px;
                padding-bottom: 35px;
                line-height: 1.7;
                span {
                    color: white;
                    background-color: #0C449B;
                    padding: 8px 16px;
                    border-radius: 10px;
                    margin-left: 20px;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }

            textarea {
                height: 20%;
                width: 100%;
                background-color: #EEFBFB;
                border: none;
                border-radius: 4px;
            }
        }
    }
    
    .inputarea {
        width: 70%;
        height: 40px;
        background-color: #EEFBFB;
        border: none;
        border-radius: 4px;
    }
    
    .pp {
        padding-top: 30px;
        display: block;
        text-align: center;
        span {
            font-size: 16px;
            font-weight: bold;
            margin-left: 10px;
        }
    }
    
    .error-ttl {
        margin-top: 40px;
        color: red;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
    }
    
    .submit-btn {
        text-align: center;
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    
    .send-btn {
        background: linear-gradient(to right,#FA41CC,#6020B0);
        width: 155px;
        height: 37px;
        font-size: 14px;
        border-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .submit-btn:hover {
        opacity: 0.7;
        transition: 0.5s;
    }
    
    .submit-btn:active {
        transform: translate(0, 2px);
        transition: 0.1s;
    }
    
    footer {
        max-width: 1024px;
        margin: 0 auto;
        padding: 40px 20px;
        text-align: center;
        p {
            padding: 15px 0;
            color: black;
        }
    }
    
    .footer-ttl {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 24px;
    }
    
    small {
        display: block;
        margin: 20px 0;
    }

    .nav-toggle {
        display: none;
    }

    .nav {
        display: none;
    }

    .effect-fade {
        opacity: 0;
        transform: translate(0,80px);
        transition: all 1200ms;
    }
        
    .effect-fade.effect-scroll {
        opacity: 1;
        transform: translate(0,0);
    }

    @media (max-width: 768px) {

        //ハンバーガーメニュー
        .header-nav {
            display: none;
        }
        #right-btn {
            display: none;
        }
        .nav_toggle {
            display: block;
            position: relative;
            width: 2.25rem;
            height: 1.75rem;
            z-index: 11000;
            margin-right: 15px;
        }
        .nav_toggle i {
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 10px;
            background-color: #333;
            position: absolute;
            transition: transform 0.3s, opacity 0.3s;
        }
        .nav_toggle i:nth-child(1) {
            top: 0;
        }
        .nav_toggle i:nth-child(2) {
            top: 0;
            bottom: 0;
            margin: auto;
        }
        .nav_toggle i:nth-child(3) {
            bottom: 0;
        }
        .nav_toggle.show i:nth-child(1) {
            transform: translateY(10.8px) rotate(-45deg);
        }
        .nav_toggle.show i:nth-child(2) {
            opacity: 0;
        }
        .nav_toggle.show i:nth-child(3) {
            transform: translateY(-14px) rotate(45deg);
        }
        .nav {
            position: fixed;
            top: 5rem;
            left: 0;
            padding: 1rem;
            opacity: 0;
            box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.5);
        }
        .nav a {
            color: black;
            font-weight: bold;
            font-size: 14px;
        }
        .nav_menu_ul {
            width: 100%;
            list-style: none;
        }
        .nav li {
            padding: 20px 0;
            opacity: 0.6;
        }
        .nav li:hover {
            opacity: 1;
            transition: 0.5s;
        }
        .nav.show {
            width: 100%;
            display: inline-block;
            z-index: 10000;
            background-color: white;
            opacity: 1;
        }
        
    
        //幅
        header {
            width: 100%;
            height: 80px;
        }
        .header-list {
            width: 100%;
        }
        .header-list img {
            width: 70%;
            height: auto;
            padding-left: 5px;
        }
        body {
            width: 100%;
        }
        .ac-inner {
            width: 100%;
        }
        .feature img {
            width: 100%;
        }

        //デザイン
        .main {
            background-position: top -100px right -5%;
            background-size: 220%;
        
            &-image {
                display: none;
            }
        }
        .feature {
            &-inner {
                width: 100%;
            }
            &-box {
                display: block;
                padding: 0 15px;
            }
            &-ttl {
                text-align: center;
            }
            &-text {
                margin-top: 20px;
                text-align: center;
            }
        }
        figure {
            text-align: center;
        }
        .boxsp {
            display: block;
            width: 100%;
        }
        .feature-box-sp {
            display: block;
            padding: 0 15px;
        }
        .pc-only {
            display: none;
        }
        .feature-text {
            padding-left: 0;
        }
        .feature-text-pc {
            padding-right: 0;
        }
        dd {
            padding-right: 10px;
            padding-left: 10px;
        }
        dt {
            padding-left: 10px;
            padding-right: 10px;
        }
        .price-pcd {
            display: none;
        }
        .price-spd {
            display: block;
        }
        .blog-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
        }
        .blog-box {
            width: 100%;
        }
        .swiper-container {
            width: 100%;
        }
        .swiper-slide {
            height: auto;
            border: none;
        }
        .contact-inner {
            width: 100%;
        }
        .contact-container {
            width: 80%;
        }
        textarea {
            width: 80%;
        }

        //レスポンシブフォントサイズ
        .header-ttl {
            font-size: 18px;
            margin-left: 0;
            word-break: keep-all;
        }
        .main-copy h2 {
            font-size: 24px;
        }
        .main-copy p {
            font-size: 14px;
        }
        .feature-ttl {
            font-size: 22px;
        }
        .feature-heading {
            font-size: 20px;
        }
        .feature-box h3 {
            font-size: 18px;
        }
        .feature-box-sp h3 {
            font-size: 18px;
        }
        .feature-box-sp p {
            font-size: 14px;
        }
        .feature-box p {
            font-size: 14px;
        }
        .feature-ttl span {
            font-size: 12px;
            margin-top: 20px;
        }
        .price-sp-ttl {
            font-size: 22px;
        }
        .price-sp-ttl span {
            font-size: 12px;
        }
        .price-sp .table-sp th {
            font-size: 14px;
        }
        .price-sp .table-sp td {
            font-size: 14px;
        }
        .ac-ttl {
            font-size: 22px;
        }
        .ac-ttl span {
            font-size: 12px;
        }
        .blog-ttl {
            font-size: 22px;
        }
        .blog-ttl span {
            font-size: 12px;
        }
        .blog-box p {
            font-size: 14px;
        }
        .date {
            font-size: 14px;
        }
        .swiper-ttl {
            font-size: 22px;
        }
        .swiper-ttl span {
            font-size: 12px;
        }
        .swiper-slide p {
            font-size: 14px;
        }
        .contact-ttl {
            font-size: 22px;
        }
        .contact-ttl span {
            font-size: 12px;
        }
        .contact p {
            font-size: 14px;
        }
        .contact-form p {
            font-size: 14px;
        }
        .contact-form p span {
            font-size: 12px;
            padding: 6px 12px;
        }
        .pp span {
            font-size: 13px;
        }
        .footer-ttl {
            font-size: 22px;
        }
        footer p {
            font-size: 12px;
        }
        small {
            font-size: 12px;
        }

    }


/*# sourceMappingURL=style.css.map */
